
@{
    Layout="~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Index";
}




<body>

    <button type="button"><a  asp-controller="Admin" asp-action="DoctorRegistration">Doctor Registration</a></button>

     <button type="button"><a  asp-controller="Admin" asp-action="DoctorDetails">Doctor Details</a></button>
      <button type="button"><a  asp-controller="Admin" asp-action="PatientDetails">Patient Details</a></button>
            <button type="button"><a  asp-controller="Admin" asp-action="AppointmentDetails">Appointment Details</a></button>

</body>