
@{
        Layout="~/Views/Shared/DoctorLayout.cshtml";
    ViewData["Title"] = "Index";
}


<body>

    <button type="button"><a  asp-controller="Doctor" asp-action="AppointmentDetails">Appointment Details</a></button>


</body>
