@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:darkblue">Grace Hospital</h1>
    <p style="font-family:Verdana; color:black; font-style:inherit" >Living Healthier Together</p>
</div>
