@{
    Layout="~/Views/Shared/PatientLayout.cshtml";
    ViewData["Title"] = "Index";
}




<body>

    <button type="button"><a  asp-controller="patient" asp-action="AppointmentSelectDoctor">Appointment Booking</a></button>

     <button type="button"><a  asp-controller="patient" asp-action="AppointmentDetails">Appointment Details</a></button>

</body>
